.hero {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.headline {
    font-family: Poppins;
    font-weight: 900;
    font-size: 54px;
    line-height: 68px;
    /* or 126% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light / Black */

    color: #373F41;
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    letter-spacing: 0.3px;

    /* Light / Gray dark */

    color: #737B7D;
}

.mini-heading {
    font-family: Muli;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */

    letter-spacing: 0.1px;

    /* Light / Black */

    color: #373F41;
}

.faded-green {
    background: rgba(30, 155, 34, 0.06);
}

.icon-size {
    font-size: 30px;
    color: rgba(30, 155, 34, 0.8);
}

.link-decor{
    color: white;
    text-decoration: underline;
    text-decoration-color: #F7DF18;
}

.link-decor:hover {
    color: #737B7D;
    text-decoration-color: rgb(175, 159, 17);
}

.link-decor-dark{
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}

.link-decor-dark:hover {
    color: rgb(29, 29, 29);
    text-decoration-color: rgb(29, 29, 29);
}

#movetop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    -o-border-image: initial;
    border-image: initial;
    outline: none;
    padding: 0px;
    border-radius: 50%;
    opacity: .8;
    transition: all 20.5s ease-out 20s;
  }